/*f0ead2 dde5b6 adc178 a98467 6c584c*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0ead2;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 12vw 87vw;
}

.sidebar {
    background-color: #adc178;
    padding: 1.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ship-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 155px;
    gap: 10px;
    background-color: #6c584c;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.sidebar-carrier {
    cursor: grab;
    width: 20px;
    height: 100px;
    background-color: green;
}

.sidebar-battleship {
    cursor: grab;
    width: 20px;
    height: 80px;
    background-color: purple;
}

.sidebar-destroyer {
    cursor: grab;
    width: 20px;
    height: 60px;
    background-color: yellow;
}

.sidebar-submarine {
    cursor: grab;
    width: 20px;
    height: 60px;
    background-color: peru;
}

.sidebar-patrol-boat {
    cursor: grab;
    width: 20px;
    height: 40px;
    background-color: slateblue;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: center;
}

.title {
    margin-top: 40px;
}

.two-boards-container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.game-board {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: #dde5b6;
}

.none, .missed, .bullseye, .battleship, .carrier, .destroyer, .patrolBoat, .submarine {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    box-sizing: border-box; /*penting*/
}

.hidden {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    box-sizing: border-box; /*penting*/
    background-color: #dde5b6;
}

.missed {
    background-color: ghostwhite;
}

.bullseye {
    background-color: red;
}

.battleship {
    background-color: purple;
}

.carrier {
    background-color: green;
}

.destroyer {
    background-color: yellow;
}

.patrolBoat {
    background-color: slateblue;
}

.submarine {
    background-color: peru;
}

#overlay.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    max-width: 80%;
    display: none;
}

.popup.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.restart-button {
    margin-bottom: 10px;
}